Environment = local
url = <mongodb_url>
port = 3000 
DB_NAME = notification_hub
JWT_SECRET= <yours_secrets>
JWT_EXPIRES_IN=1d

# SMTP Configuration
SMTP_HOST=<smtp_host>
SMTP_PORT=<smtp_port>
SMTP_USER=<mail_id>
SMTP_PASS=<your_password>
EMAIL_FROM="<email_from>"
KAFKA_BROKER=kafka:9092